@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Montserrat:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding: 0px;
}

section{
  scroll-behavior: smooth;
}

.code{
  padding: 12px;
  padding-top: 32px;
  padding-left: 32px;
  border-radius: 8px;
  background: #222;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0.05em 0.05em black;
  margin: 24px;
  transition: all .3s ease-in-out;
}

.code:hover{
  filter: brightness(70%);
}

#red{
  position: absolute;
  margin-top: -24px;
  margin-left: -24px;
  background-color: #FF6058;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

#yellow{
  position: absolute;
  margin-top: -24px;
  margin-left: -8px;
  background-color: #FFC22F;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

#green{
  position: absolute;
  margin-top: -24px;
  margin-left: 8px;
  background-color: #27C93F;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.bold-green{
  color: #27C93F;
}

h5{
  font-size: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #222;
  text-align: center;
}

#navbar{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: #07A0C3;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 1px 5px black;
}

#navbar a{
  text-decoration: none;
  color: #f3f4f9;
  font-family: arial;
  font-size: 24px;
  padding-right: 32px;
  font-family: 'Jost', sans-serif;
  transition: all 0.3s ease-in-out;
}

#welcome-section{
  width: 100%;
  margin-top: 60px;
  height: 100vh;
  background: #44AF69;
  color: #f3f4f9;
  font-size: 24px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


h1{
  font-family: 'Jost', sans-serif;
  text-align: center;
  text-shadow: 0.05em 0.05em black;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #F3F4F9;
  transition: all 0.3s ease-in-out;
}

#welcome-section h1{
    font-size: 52px;
}

a:hover{
  filter: brightness(70%);
}

p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 0;
}

.carousel {
  width: 70%;
  margin: 24px 0 52px 0;
}

#projects{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background: #D1AC00;
  justify-content: space-evenly;
}

#project-header h1{
  margin: 0 0 24px 0;
  font-size: 52px;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 520px));
  grid-gap: 4rem 4rem;
  color: #f3f4f9;
  font-size: 24px;
  width: 90%;
  height: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  justify-content: center;
}

.project-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: auto;
  margin-top: 0;
  justify-content: center;  
  transition: all 0.3s ease-in-out;
}

.project-tile a{
  text-decoration: none;
}


.project-tile:hover > .proj-img{
  filter: brightness(70%);
}

.proj-img{
  margin: 0;
  position: relative;
  filter: brightness(80%);
  z-index:0;
  border-radius: 8px;
  width: 520px;
}

.project-tile .go{
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    color: #eee;
    text-align: center;
    font-size: 64px;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.project-tile:hover .go{
    opacity: 1;
}

.learn{
  position: relative;
  z-index:0;
  color: #fff;
  font-size: 32px;
  text-align: center;
  margin-top: 0rem;
}


#contact{
  width: 100%;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  background: #124559;
  color: #f3f4f9;
  font-size: 24px;
}

#contact header{
  flex: 1 100%;
}

#contact header h1{
  font-family: 'Jost', sans-serif;
  text-align: center;
  margin-bottom: 24px;
  color: #f3f4f9;
  font-size: 52px;
}

#contact main{
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact a{
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  line-height:42px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0px;
  color: #f3f4f9;
  transition: all 0.3s ease-in-out;
}

svg{
  margin-bottom: -0.2rem;
  margin-right: 0.2rem;
}

#profile-link:before{
  position: absolute;
  left: -1.2rem;
  content: '<';
  font-family: 'Jost', sans-serif;
  color: #0f0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#profile-link:after{
  position: absolute;
  content: '/>';
  font-family: 'Jost', sans-serif;
  color: #0f0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#profile-link:hover::before{
  opacity: 1;
}

#profile-link:hover::after{
  opacity: 1;
}

footer{
    font-size: 12px;
    color: #eee;
    background: #222;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #fff;
}

@media(max-width: 1208px){
  /* .code{
    transform: scale(0.8);
  } */
  p{
    font-size: 32px;
  }

  .proj-img{
    width: 100%;
    height: 360px;
  }
  #projects{
    justify-content: center;
  }
  #project-grid{
    display: grid;
    grid-template-columns: none;
  }
  .project-tile{
    justify-self: center;
    align-self: center;
    width: 60%;
    margin: 12px auto;
  }
  .project-tile a{
    font-size: 32px;
  }
  .project-tile .go{
    opacity: 0;
  }
  
  .project-tile .go:hover{
    opacity: 0;
  }

  #contact a{
    font-size: 32px;
  }
}

@media(max-width: 520px){
  .code{
    transform: scale(0.8);
  }
  .project-tile{
  width: 80%;
  }
  .learn {
    font-size: 32px;
  }

  .proj-img{
    height: 240px;
  }
}